.me {
  margin-right: 40%;
  margin-left: 40%;
}
.name {
  margin-right: 45%;
  margin-left: 45%;
}
.container-fluid {
  background-color: black;
}
.navbar-brand {
  margin-right: 100px;
}
.active {
  margin-right: 80px;
}
.menu {
  margin-right: 80px;
}
.about {
  margin-right: 80px;
}
.contact {
  margin-right: 80px;
}
